// /*--------------------------------------------------------------
// # General
// --------------------------------------------------------------*/
// :root {
//     scroll-behavior: smooth;
//   }

body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: #444444;
  a {
    font-family: "Montserrat", sans-serif;
    color: #4154f1;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  a:hover {
    color: #717ff5;
    text-decoration: none;
  }
  a:focus {
    outline: none;
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: 0px;
    margin-top: 0px;
    font-family: "Dosis", sans-serif;
    color: #202020;
    font-weight: 400;
  }
  p {
    margin-bottom: 0;
  }
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
  }
  b,
  strong {
    font-weight: 600;
  }
}

//   /*--------------------------------------------------------------
//   # Sections
//   --------------------------------------------------------------*/
//   section {
//     // padding: 60px 0;
//     overflow: hidden;
//   }
//   .section-header {
//     text-align: center;
//     padding-bottom: 40px;
//     h2 {
//         font-size: 13px;
//         letter-spacing: 1px;
//         font-weight: 700;
//         margin: 0;
//         color: #4154f1;
//         text-transform: uppercase;
//       }
//       p {
//         margin: 10px 0 0 0;
//         padding: 0;
//         font-size: 38px;
//         line-height: 42px;
//         font-weight: 700;
//         color: #012970;
//       }
//   }
//   @media (max-width: 768px) {
//     .section-header p {
//       font-size: 28px;
//       line-height: 32px;
//     }
//   }

//   /*--------------------------------------------------------------
//   # Breadcrumbs
//   --------------------------------------------------------------*/
//   .breadcrumbs {
//     padding: 15px 0;
//     background: #012970;
//     min-height: 40px;
//     margin-top: 82px;
//     color: #fff;
//     h2 {
//         font-size: 28px;
//         font-weight: 500;
//       }
//   }

//   @media (max-width: 992px) {
//     .breadcrumbs {
//       margin-top: 57px;
//     }
//   }

//   .breadcrumbs

//   .breadcrumbs ol {
//     display: flex;
//     flex-wrap: wrap;
//     list-style: none;
//     padding: 0 0 10px 0;
//     margin: 0;
//     font-size: 14px;
//   }

//   .breadcrumbs ol a {
//     color: #fff;
//     transition: 0.3s;
//   }

//   .breadcrumbs ol a:hover {
//     text-decoration: underline;
//   }

//   .breadcrumbs ol li + li {
//     padding-left: 10px;
//   }

//   .breadcrumbs ol li + li::before {
//     display: inline-block;
//     padding-right: 10px;
//     color: #8894f6;
//     content: "/";
//   }

/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
}
.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
.top_color {
  margin-top: 0;
  padding-top: 0;
  .color_one {
    background-color: violet;
    height: 3px;
  }
  .color_two {
    background-color: indigo;
    height: 3px;
  }
  .color_three {
    background-color: blue;
    height: 3px;
  }
  .color_four {
    background-color: green;
    height: 3px;
  }
  .color_five {
    background-color: yellow;
    height: 3px;
  }
  .color_six {
    background-color: red;
    height: 3px;
  }
}
/*Top color ends here*/

/* Top logo section begins*/
/* Top logo section begins*/
.social-icons {
  background-color: #0e70c7;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0; 
  .lt i {
    font-size: 14px;
    color: white !important;
    padding-left: 5px;
  }
  .rt ul {
    padding-left: 14rem;
    display: inline-block;
    li {
      list-style: none;
      display: inline-block;
      color: white;
      a {
        color: white;
        text-decoration: none;
        -webkit-transition: all 0.36s ease-out;
	transition: all 0.36s ease-out;
	font-weight: 500;
      }
      // a:hover {
      //   color: white;
      // }
    }
  }

  @media screen and(max-width:768px) {
    .rt ul {
      margin-left: -70px;
      display: inline-block;
      li {
        // margin
        margin-left: -5px;
      }
      li:nth-child(2) {
        visibility: hidden;
      }
    }
    .lt i {
      padding-top: 15px;
    }
  }
  @media screen and(max-width:576px) {
    .lt i {
      padding-top: 5px;
    }
    .ctr {
      display: none;
    }
    .rt ul {
      margin-top: -20px;
      padding-left: -8px;
      margin-left: -70px;
    }
  }
  @media only screen and (max-width: 1200px) {
    .rt ul {
      padding-left: 10rem;
    }
  }
  @media screen and (max-width: 992px) {
    .rt ul {
      padding-left: 5rem;
    }
  }
}

.modal-title {
  color: #333;
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
@media only screen and (max-width: 480px) {
  .modal-title {
    font-size: 16px;
  }
}
.modal-content {
  border-radius: 0;
  margin-top: 100px;
  padding: 10px 30px;
}
.modal-header .close {
  margin-top: 0px;
  color: #333 !important;
  opacity: 1;
}
.modal-header .close:hover {
  margin-top: 0px;
  color: #333 !important;
  background: #fff;
}
.login_register {
  background: #f9f9f9 none repeat scroll 0 0;
}
.login_register_title {
  color: #555;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}
.login {
  background: #fff none repeat scroll 0 0;
  overflow: hidden;
  padding: 30px;
}
@media only screen and (max-width: 480px) {
  .login {
    padding: 0px;
  }
}
.register {
  background: #fff none repeat scroll 0 0;
  overflow: hidden;
  padding: 30px;
}
@media only screen and (max-width: 480px) {
  .register {
    padding: 0px;
  }
}

.login input {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  color: #333;
  height: 50px;
  padding-left: 10px;
  transition: all 0.2s ease 0s;
}
.login input:focus {
  border-radius: 0;
  box-shadow: none;
  outline: 0 none;
  border: 1px solid #0e70c7;
}
.register input {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  color: #333;
  height: 50px;
  padding-left: 10px;
  transition: all 0.2s ease 0s;
}
.register input:focus {
  border-radius: 0;
  box-shadow: none;
  outline: 0 none;
  border: 1px solid #0e70c7;
}
.btn-cr-bg {
  background: #0e70c7;
  color: #fff;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
}

/*         */
/* Alternate logo*/
.logo1 {
  margin: 10px 0;
  .right-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
  }
  .logo1-1 {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    // align-items: center;
    img {
      height: 50px;
      padding-right: 5px;
      padding-top: 1px;
      // margin-bottom: 10px;
    }
    i {
      font-size: 30px;
      padding-top: 5px;
      color: #0e70c7;
      // padding-left: 20px;
      padding-left: 5px;
    }
    .pt {
      padding-top: 1rem;
    }
    .text {
      h4 {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 2px;
        font-family: "Dosis", sans-serif;
      }
      h6 {
        font-weight: 400;
        font-size: 12px !important;
        font-family: "Montserrat", sans-serif;
        color: #777;
        word-spacing: 2px;
        text-transform: uppercase;
      }
      // line-height: 1px;
      padding-left: 8px;
    }

    // padding-bottom: 10px;
    // margin-bottom: 10px;
    //overflow-x: hidden;
  }
  //    @media only screen and (max-width:576){
  //        .logo1-1{
  //            margin-left:20px;
  //            padding-left: 20px;
  //        }
  //    }
  // grid-template-columns: 25% 25% 25% 25%;
  // grid-template-areas: "logo1-1 logo1-1 logo1-1 logo1-1";
}

/* Top logo section ends*/

.navbar {
  // background-color: #0e70c7;
  padding: 0;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    li {
      position: relative;
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 15px;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-weight: 400;
        // color: #013289;
        color: white;
        white-space: nowrap;
        transition: 0.3s;
        i {
          font-size: 12px;
          line-height: 0;
          // margin-left: 5px;
        }
      }
      a:hover,
      .navbar .active,
      .navbar li:hover > a {
        color: #4154f1;
      }
    }
  }
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  // background: #fff;
  background: #0e70c7;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
  li {
    min-width: 200px;
    a {
      padding: 10px 20px;
      font-size: 13px;
      text-transform: none;
      font-weight: 400;
      text-decoration: none;
      i {
        font-size: 12px;
      }
    }
    a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover > a {
      color: #4154f1;
    }
  }
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
/**
      * Mobile Navigation 
      */
.mobile-nav-toggle {
  color: #012970;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 22, 61, 0.9);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #012970;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #4154f1;
}
.navbar-mobile .getstarted {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
 
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;

}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #4154f1;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 10px 0;
  background-color: #0e70c7;
}

.header.header-scrolled {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  .navbar ul li a {
    color: #0e70c7;
  }
  .dropdown ul {
    background: #fff;
  }
   .logo span{
    color: #0e70c7;
  }
}

.header .logo {
  line-height: 0;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #dcdfe4;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}

/*         */
/*carousel-banner*/
.hero-carousel {
  .carousel-inner {
    img {
      height: 580px;
    }
    video {
      height: 580px;
      width: 100%;
    }
    height: 580px;
  }
  .carousel-control-next, .carousel-control-prev{
    width: 5%;
    // top: 50%;
    // bottom: 48%;

  }
  .carousel-control-next, .carousel-control-next{
    width: 5%;
    // top: 50%;
    // bottom: 48%;
    
  }
}
/*carousel-banner*/

/* Promotion section */
.promotion {
  background-color: #0e70c7;

  h1 {
    color: #fff;
    // font-size: 54px;
    letter-spacing: 1px;
     text-align: center;
     padding: 30px 0;
    font-family: "Dosis", sans-serif;
  }
  margin-bottom: 30px;
}
/* Promotion section */

/*About Section begins here*/
.about {
  .content {
    background-color: #f6f9ff;
    padding: 40px;
    h1 {
      font-size: 16px;
      font-weight: 400;
      color: #4154f1;
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
    }
    h2 {
      font-size: 24px;
      font-weight: 700;
      color: #012970;
    }
    p {
      margin: 15px 0 30px 0;
      // font-family: 'Poppins', sans-serif;
      line-height: 24px;
    }
  }
}
.about .btn-read-more {
  font-family: 'Poppins', sans-serif;
  // line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
  span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
    i {
      margin-left: 5px;
      font-size: 18px;
      transition: 0.3s;
    }
  }
}

.about .btn-read-more:hover i {
  transform: translateX(5px);
}
/*About Section ends here*/

/* Services begins here*/
.services{
  padding-top: 60px;
    padding-bottom: 30px;
}
.services 
.service-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding: 60px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
  .icon {
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
    transition: 0.3s;
  }
  h3 {
    color: #444444;
    font-weight: 600;
    
  }
  .read-more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 20px;
    i {
      line-height: 0;
      margin-left: 5px;
      font-size: 18px;
    }
  }
}

.services .service-box.blue {
  border-bottom: 3px solid #2db6fa;
  .icon {
    color: #2db6fa;
    background: #dbf3fe;
  }
  .read-more {
    color: #2db6fa;
  }
}
.services .service-box.blue:hover {
  background: #2db6fa;
}

.services .service-box.orange {
  border-bottom: 3px solid #f68c09;
  .icon {
    color: #f68c09;
    background: #fde3c4;
  }
  .read-more {
    color: #f68c09;
  }
}
.services .service-box.orange:hover {
  background: #f68c09;
}

.services .service-box.green {
  border-bottom: 3px solid #08da4e;
  .icon {
    color: #08da4e;
    background: #cffddf;
  }
  .read-more {
    color: #08da4e;
  }
}

.services .service-box.green:hover {
  background: #08da4e;
}

.services .service-box.red {
  border-bottom: 3px solid #e9222c;
  .icon {
    color: #e9222c;
    background: #fef7f8;
  }
  .read-more {
    color: #e9222c;
  }
}

.services .service-box.red:hover {
  background: #e9222c;
}

.services .service-box.purple {
  border-bottom: 3px solid #b50edf;
  .icon {
    color: #b50edf;
    background: #f8e4fd;
  }
  .read-more {
    color: #b50edf;
  }
}
.services .service-box.purple:hover {
  background: #b50edf;
}

.services .service-box.pink {
  border-bottom: 3px solid #f51f9c;
  .icon {
    color: #f51f9c;
    background: #feecf7;
  }
  .read-more {
    color: #f51f9c;
  }
}

.services .service-box.pink:hover {
  background: #f51f9c;
}

.services .service-box:hover h3,
.services .service-box:hover p,
.services .service-box:hover .read-more {
  color: #fff;
}
.services .service-box:hover .icon {
  background: #fff;
}

/* Services ends here*/

/*Portfolio filter begins here*/

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: white;
  border-radius: 50px;
  padding: 2px 15px;
  li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 20px 10px 20px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    color: #444444;
    margin: 0 4px 8px 4px;
    transition: 0.3s;
    border-radius: 50px;
    border: 1px solid #fff;
  }
}
.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #4154f1;
  border-color: #4154f1;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(255, 255, 255, 0.75);
}
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap img {
  transition: 1s;
}
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid rgba(1, 41, 112, 0.2);
  border-left: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid rgba(1, 41, 112, 0.2);
  border-right: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
}
.portfolio .portfolio-wrap .portfolio-info p {
  color: #012970;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}
.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  background: #4154f1;
  margin: 10px 2px;
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
}
.portfolio .portfolio-wrap .portfolio-links a i {
  font-size: 24px;
  line-height: 0;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: #5969f3;
}
.portfolio .portfolio-wrap:hover img {
  transform: scale(1.1);
}
.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #4154f1;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: #4154f1;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*Portfolio filter ends here*/
/*Team section begins here*/
.team {
  background: #fff;
  padding: 60px 0;
}

.team .member {
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .member-img:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: url(../img/team-shape.svg) no-repeat center bottom;
  background-size: contain;
  z-index: 1;
}

.team .member .social {
  position: absolute;
  right: -100%;
  top: 30px;
  opacity: 0;
  border-radius: 4px;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.3);
  z-index: 2;
}

.team .member .social a {
  transition: color 0.3s;
  color: rgba(1, 41, 112, 0.5);
  margin: 15px 12px;
  display: block;
  line-height: 0;
  text-align: center;
}

.team .member .social a:hover {
  color: rgba(1, 41, 112, 0.8);
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 10px 15px 20px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #012970;
}

.team .member .member-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  padding-top: 15px;
  line-height: 26px;
  color: #5e5e5e;
}

.team .member:hover {
  transform: scale(1.08);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.team .member:hover .social {
  right: 8px;
  opacity: 1;
}
/*Team section ends here*/

/*Counts*/
.counts {
  padding: 70px 0 60px;
  .count-box {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 100%;
    background: transparent;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    i {
      font-size: 42px;
      line-height: 0;
      margin-right: 20px;
      color: #4154f1;
    }
    span {
      font-size: 36px;
      display: block;
      font-weight: 600;
      color: #0b198f;
    }
    p {
      padding: 0;
      margin: 0;
      font-family: "Nunito", sans-serif;
      font-size: 14px;
    }
  }
}

/*Counts*/
/*Values begins here*/
.values .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;
  img {
    padding: 30px 50px;
    transition: 0.5s;
    transform: scale(1.1);
  }
  h3 {
    font-size: 24px;
    color: #012970;
    font-weight: 700;
    margin-bottom: 18px;
  }
}

.values .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}
.values .box:hover img {
  transform: scale(1);
}
/*Values ends here*/

/*Testimonials begins here*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 40px 30px;
  box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
  background: #fff;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
  .stars {
    margin-bottom: 15px;
    i {
      color: #ffc107;
      margin: 0 1px;
    }
  }
  .testimonial-img {
    width: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
  }
  h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
  }
  p {
    font-style: italic;
    margin: 0 auto 15px auto;
  }
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #4154f1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #4154f1;
}

.testimonials .swiper-slide {
  opacity: 0.3;
}

@media (max-width: 1199px) {
  .testimonials .swiper-slide-active {
    opacity: 1;
  }
  .testimonials .swiper-pagination {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .testimonials .swiper-slide-next {
    opacity: 1;
    transform: scale(1.12);
  }
}

/*Testimonials ends here*/

/*  Blog posts section begins here */
.recent-blog-posts .post-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
  overflow: hidden;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  .post-img {
    overflow: hidden;
    margin: -30px -30px 15px -30px;
    position: relative;
    img {
      transition: 0.5s;
    }
  }
  .post-date {
    font-size: 16px;
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
    display: block;
    margin-bottom: 10px;
  }
  .post-title {
    font-size: 24px;
    color: #012970;
    font-weight: 700;
    margin-bottom: 18px;
    position: relative;
    transition: 0.3s;
  }
  .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    i {
      line-height: 0;
      margin-left: 4px;
      font-size: 18px;
    }
  }
}

.recent-blog-posts .post-box:hover .post-title {
  color: #4154f1;
}

.recent-blog-posts .post-box:hover .post-img img {
  transform: rotate(6deg) scale(1.2);
}
/*  Blog posts section ends here */

/* COntact section begins here  */
.contact .info-box {
  color: #444444;
  background: #fafbff;
  padding: 30px;
  i {
    font-size: 38px;
    line-height: 0;
    color: #4154f1;
  }
  h3 {
    font-size: 20px;
    color: #012970;
    font-weight: 700;
    margin: 20px 0 10px 0;
  }
  p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
}

.contact .php-email-form {
  background: #fafbff;
  padding: 30px;
  height: 100%;
  .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
  }
  .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #4154f1;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}
.contact .php-email-form button[type="submit"] {
  background: #4154f1;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #5969f3;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Contact section ends here */
/*Footer section begins here */
.footer {
  background: #f6f9ff;
  padding: 0 0 30px 0;
  font-size: 14px;
  .footer-newsletter {
    padding: 50px 0;
    background: #f6f9ff;
    border-top: 1px solid #e1ecff;
    h4 {
      font-size: 24px;
      margin: 0 0 10px 0;
      padding: 0;
      line-height: 1;
      font-weight: 700;
      color: #012970;
    }
    form {
      margin-top: 20px;
      background: #fff;
      padding: 6px 10px;
      position: relative;
      border-radius: 4px;
      border: 1px solid #e1ecff;
      input[type="email"] {
        border: 0;
        padding: 8px;
        width: calc(100% - 140px);
      }
      input[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        border: 0;
        background: none;
        font-size: 16px;
        padding: 0 30px;
        margin: 3px;
        background: #4154f1;
        color: #fff;
        transition: 0.3s;
        border-radius: 4px;
      }
      input[type="submit"]:hover {
        background: #5969f3;
      }
    }
  }
  .footer-top {
    background: white url(../img/footer-bg.png) no-repeat right top;
    background-size: contain;
    border-top: 1px solid #e1ecff;
    border-bottom: 1px solid #e1ecff;
    padding: 60px 0 30px 0;
  }
}

@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
  .logo {
    line-height: 0;
    margin-bottom: 15px;
    img {
      max-height: 40px;
      margin-right: 6px;
    }
    span {
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 1px;
      color: #012970;
      font-family: "Nunito", sans-serif;
      margin-top: 3px;
    }
    p {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 0;
      font-family: "Nunito", sans-serif;
    }
  }
}

.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}
.footer .footer-top .social-links a:hover {
  color: #012970;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #012970;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-links {
  margin-bottom: 30px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 10px 0;
      display: flex;
      align-items: center;
      i {
        padding-right: 2px;
        color: #d0d4fc;
        font-size: 12px;
        line-height: 0;
      }
    }
  }
}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-top .footer-links ul a {
  color: #013289;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
  color: #4154f1;
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #012970;
}

.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}

/* Footer section ends here*/

/*=============== Contact us Page begins here================*/
/*Hero Carousel starts*/
.hero_carousel_img {
  background: url("../img/hero/SchoolBoys.jpg");
  height: 400px;
  background-size: cover;
  background-position: center center;
  h1 {
    color: white;
    padding-top: 10vh;
  }
}
/*Hero Carousel ends */

/*Address section starts here*/
.address {
  .info-box {
    border-right: 2px solid olivedrab;
  }
  @media screen and (max-width: 992px) {
    .info-box {
      border-right: none;
    }
  }
}
/*Address section ends here*/

/*=============== Contact us Page ends here ================*/
